---
layout: "/_default.haml"
title: "ben hoskings"
---

%header
  %nav
    %a{rel: 'me', href: 'http://twitter.com/ben_h'} twitter
    %a{rel: 'me', href: 'http://github.com/benhoskings'} github
  %h2
    Hello! I work on the web. I like making existing tech better and removing accidental complexity. Here are some things I wrote.
  %h1
    = link('index.html', 'ben hoskings')

- now = Time.now

#home
  %ul.years
    - posts.group_by {|p| date_of(p).year }.tap do |years|
      - years.keys.sort.reverse.each do |year|
        %li
          %span.year{:class => ('current' if Time.local(now.year) == Time.local(year))}= year
          %ul.months
            - years[year].group_by {|p| date_of(p).month }.tap do |months|
              - months.keys.sort.reverse.each do |month|
                %li
                  %span.month{:class => ('current' if Time.local(now.year, now.month) == Time.local(year, month))}= %w[Jan Feb Mar Apr May Jun Jul Aug Sep Oct Nov Dec][month - 1]
                  %ul.posts
                    - months[month].sort_by {|p| date_of(p) }.reverse.each do |post|
                      %li
                        %span.day{:class => ('current' if Time.local(now.year, now.month) == Time.local(year, month))}= date_of(post).day
                        %a.title{:href => href(post)}= formatted_headline_for(post.title)
